
<div class="container">
	<hr />
	<p><b>weak self</b> 是三個在 iOS 開發圈打滾的台灣工程師，專為 Apple & iOS 開發者而製作的 Podcast。主講人<a href="https://twitter.com/@ethanhuang13">一三</a>、<a href="https://twitter.com/@PofatTseng">波肥</a>、<a href="https://twitter.com/@joe_trash_talk">喬喬</a>。中文名稱是《我很弱，不要把我算進去》🤪 節目內容涵蓋了 iOS 與 Apple 開發圈的新知討論、踩坑經驗、人物採訪、社群活動、職場生活。</p>

	<p><a href="/feedbacks">聽眾朋友怎麼說？</a>・<a href="/history">weak self 歷史</a>・<a href="/">回首頁</a>

<h2>線上收聽</h2>

請使用 <a href="https://overcast.fm/itunes1474108801/weak-self">Overcast</a> 或 <a href="https://anchor.fm/weakself">Anchor</a> 網站。

<h2>訂閱方式</h2>

<p><b>weak self</b> 支援任何 podcast 播放軟體，只要訂閱我們的 <a href="https://anchor.fm/s/c914964/podcast/rss">RSS</a> 網址即可。</p>

<p>
	<a href="https://podcasts.apple.com/tw/podcast/weak-self/id1474108801"><img src="/apple_podcasts.png" width="150" alt="Listen on Apple Podcasts"></a> <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9jOTE0OTY0L3BvZGNhc3QvcnNz"><img src="/google_podcasts.png" width="150" alt="Listen on Google Podcasts"></a> <a href="https://overcast.fm/itunes1474108801/weak-self"><img src="/overcast.png" width="150" alt="Listen on Overcast"></a> <a href="https://anchor.fm/s/c914964/podcast/rss"><img src="/rss_feed.png" width="150" alt="Listen on RSS Feed"></a> <a href="https://open.spotify.com/show/4qAJjdyhx5AgHHL4VuTauj"><img src="/spotify.png" width="150" alt="Listen on Spotify"></a> <a href="https://pca.st/9Z02"><img src="/pocket_casts.png" width="150" alt="Listen on Pocket Casts"></a> <a href="https://castro.fm/itunes/1474108801"><img src="/castro.png" width="150" alt="Listen in Castro"></a>
</p>
</div>

{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>	
		<div id="red"></div>	
		<div id="purple"></div>		
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}