<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145171192-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145171192-1');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="apple-itunes-app" content="app-id=1474108801">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="shortcut icon" type="image/png" href="favicon.png"/ >
<link href='/feed.xml' rel='alternate' type='application/atom+xml' title='weak self podcast show notes'>
<link href='https://anchor.fm/s/c914964/podcast/rss' rel='alternate' type='application/rss+xml' title='weak self podcast'>
<meta property="og:type" content="website" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:image" content="{{ site.url }}/og_image.jpg" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@weak_self" />
<meta name="twitter:creator" content="@weak_self" />
<title>{{ page.title | default: site.title }}</title>
{% seo %}